<nav class="navbar navbar-expand-lg border border-bottom pt-lg-3 pb-lg-3 mb-4">
    <div class="container fw-bold">
        <a href="/" class="navbar-brand">
            🏠 HOME
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarItem" aria-controls="navbarItem"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarItem">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link disabled" aria-disabled="true">Calculator</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link disabled" aria-disabled="true">Email-Auto</a>
                </li>
            </ul>
            <div class="d-flex">
                <a href="/user/login" class="btn btn-primary ms-1 me-1">Sign In</a>
                <a href="/user/create" class="btn btn-primary ms-1 me-1">Sign Up</a>
            </div>
        </div>
    </div>
</nav>